<h2>Edit Task</h2>
<form>
    <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input matInput [(ngModel)]="todo.task" placeholder="change name?" name="task" required>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="todo.checked" [checked]="todo.checked" (change)="onCheckedChange()">Completed</mat-checkbox>

    <div class="button-group">
        <button mat-button (click)="onSave()">Save</button>
        <button mat-button (click)="onDelete()">Delete</button>
        <button mat-button (click)="onCancel()">Cancel</button>
    </div>
</form>