mat-sidenav {
  width: 350px;
  min-width: 200px;
  max-width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFF;
  border-right: 1px solid #EEE;
}

mat-sidenav-content {
  margin-left: 200px;
  padding: 16px;
}

.wrap-text {
  white-space: normal;
}