<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav class="sidenav" mode="side" opened>
      <app-dialog/>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos" (click)="onSelect(todo)" matLine>
            <h3 class="wrap-text"> {{todo.checked ? ' ✔' : ' ❌'}} {{todo.task}} </h3>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  