<div mat-dialog-content>
    <p>Add new task</p>
    <mat-form-field>
        <mat-label>Task name</mat-label>
        <input matInput [(ngModel)]="data.task" placeholder="Task name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>